[Unit]
Description=Websocket 3 service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=hs
ExecStart=/home/hs/scripts/websocket3.sh

[Install]
WantedBy=multi-user.target
